<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Relier Café</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('perfil') }}">Perfil</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('precos') }}">Preços</a></li>
        {% if current_user.is_authenticated and current_user.categoria == 'caixa' %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('pedidos') }}">Pedidos</a></li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.categoria == 'gerente' %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('relatorios') }}">Relatórios</a></li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
