{% extends 'base.html' %}
{% block content %}
<style>
  h2, h3 {
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  }

  th, td {
    padding: 10px 12px;
    text-align: left;
  }

  th {
    background-color: #af6f4c;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
</style>
<h2>Relatórios Mensais</h2>
<h3>Renda</h3>
<table>
  <tr><th>Mês</th><th>Renda</th></tr>
  {% for mes, renda in renda_mensal %}
  <tr>
    <td>{{ mes }}</td>
    <td>R$ {{ renda }}</td>
  </tr>
  {% endfor %}
</table>
<h3>Custo de Ingredientes</h3>
<table>
  <tr><th>Mês</th><th>Custo</th></tr>
  {% for mes, custo in custo_mensal %}
  <tr>
    <td>{{ mes }}</td>
    <td>R$ {{ custo }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
